
.app{
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Arimo', sans-serif;
}
body {
  width: 100%;
  height: auto;
  background-image: url('imgs/sunset.jpg');
  background-size: 100% auto;
}

.title{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 5px 5px 5px #010000;
}
nav {
  width: 960px;
  margin: 0 auto;
}
nav li {
  display : inline;
  margin-left: 15%;
}
nav a {
  text-decoration: none;
  font-size: 1.25em;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-weight: lighter;
  text-align: center;
}
.logo{
  width: 50px;
  height: auto;
  border-radius: 25px;
  align: bottom;
}
li {
  list-style: none;
}

#textSignUp{
  text-align: center;
}

.login {
  width: 40%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  padding: 1.5% 5%;
}

#formLogin{
  margin: 2%;
  margin-left: 25%;
}

.sign-up{
  width: 40%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  padding: 0.5% 5%;
}
.box-shadow {
  box-shadow: 1px 1px 1px 1px #696969;
  margin: 0 auto;
  margin: 5%;
}
#createUser{
  margin-left: 12%;
  margin: 5%;
}

.sign-up-submit{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5%;
}

#profile-pic {
  width: 250px;
  height: auto;
  border-radius: 100%;
}

#set-profile

form {
  width: 300px;
  /*height:600px;*/
}
input {
  display: inline;
}


.profile-pic{
  width: 50px;
  height: auto;
  border-radius: 25px;
}
#comment-button {
  height: 100px;
  width: 200px;
}
.title-two {
  font-size: 3em;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 5px 5px 5px #010000;
}
/*start css for edit profile page*/

#top-left {
  width: 43%;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  float: left;
}
#profile-pic {
  margin-top: 2%;
}
#pictureLocation {
  margin-top: 5%;
}
#pic-submit {
  margin-bottom: 5%;
}
#bottom-left {
  width: 43%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  padding: 1%;
  float: left;
  margin-top: 5%;

}
#update-wine-info {
  margin-left: 25%;
  margin-right: 10%;
}
#boolean-button {
  text-align: center;
  margin-bottom: 5%;
}
#top-right {
  width: 43%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  float: right;
}

#bottom-right  {
  width: 43%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  padding: 1%;
  float: right;
}
.textarea {
  width: 300px;
  height: 150px;
}
.submit {
  margin-bottom: 5%;
}
#reviewBox {
  text-align: center;
}
/*start of styling for community page*/
.community-boxes img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-top: 5%;
  border:1px solid #010000;
}
.test-boxes {
  display: inline-block;
  width: 28%;
  height: auto;
  background-color: white;
  margin: 2%;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #010000;
}
.community-boxes {
  display: inline;
}
#communityMain h1 {
  font-family: 'Arimo', sans-serif;
  font-size: 1.5em;
}
#communityMain h4 {
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  text-decoration: underline;
}
/*start of styling for view profile*/
#about-user {
  width: 30%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  padding: 1%;
  float: left;
  margin-top: 5%;
  text-align: center;
}
#view-user-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-top: 5%;
}
#view-user-name {
  font-size: 2em;
}
main{
  width: 60%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  padding: 1%;
  float: right;
  margin-top: 5%;
  text-align: center;
}
main textarea {
  width: 500px;
  height: 200px;
  margin-top: 5%;
}
main button {
  text-align: center;
  margin-bottom: 5%;
}
