
.app{
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Arimo', sans-serif;
}
body {
  width: 100%;
  height: auto;
  background-image: url('imgs/sunset.jpg');
  background-size: 100% auto;
}

.title{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 5px 5px 5px #010000;
}

li {
  list-style: none;
}

#textSignUp{
  text-align: center;
}

.login {
  width: 40%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  padding: 1.5% 5%;
}

#formLogin{
  margin: 2%;
  margin-left: 25%;
}

.sign-up{
  width: 40%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  padding: 0.5% 5%;
}
.box-shadow {
  box-shadow: 1px 1px 1px 1px #696969;
  margin: 5px;
}
#createUser{
  margin-left: 12%;
  margin: 5%;
}

.sign-up-submit{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5%;
}

.community-boxes img{
  width: 200px;
  height: 200px;
  border-radius: 15%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
}
.test-boxes {
  display: inline-block;
  width: calc(100%/5);
  height: auto;
  background-color: beige;
  border-radius: 10%;
  margin: 10px;

}
.community-boxes {
  display: inline;

}

#profile-pic {
  width: 250px;
  height: auto;
  border-radius: 100%;
}

#set-profile

form {
  width: 300px;
  /*height:600px;*/
}
input {
  display: inline;
}

nav li {
  margin-left: 10px;
  display: inline;
}

.logo{
  width: 50px;
  height: auto;
  border-radius: 25px;
}

.profile-pic{
  width: 50px;
  height: auto;
  border-radius: 25px;
}
#comment-button {
  height: 100px;
  width: 200px;
}
