*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.app{
  width: 960px;
  height: auto;
}


form {
  width: 300px;
  /*height:600px;*/
}
input {
  display: inline;
}
/*p {
  display: inline;
}*/

nav li {
  margin-left: 10px;
  display: inline;
}

.logo{
  width: 50px;
  height: auto;
  border-radius: 25px;
}

.profile-pic{
  width: 50px;
  height: auto;
  border-radius: 25px;
}
